{
  "openapi": "3.0.0",
  "info": {
    "title": "Cybedefend API",
    "description": "CybeDefend is an advanced API for application security analysis. Key features include OAuth 2.0 authentication, user/organization/project management, and REBAC-based permissions. It excels in static, dynamic, and IaC security analyses (SAST, DAST, IaC, etc.).",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-eu.cybedefend.com",
      "description": "EU"
    },
    {
      "url": "https://api-us.cybedefend.com",
      "description": "US"
    }
  ],
  "tags": [],
  "paths": {
    "/": {
      "get": {
        "operationId": "AppController_getHello",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns the current API version, git commit hash, and environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get API version and commit hash",
        "tags": [
          "Version"
        ]
      }
    },
    "/client-apps": {
      "get": {
        "description": "Returns the public application IDs for native clients (CLI, VS Code Extension, IntelliJ IDEA Extension). No authentication required.",
        "operationId": "AppController_getClientApps",
        "parameters": [],
        "responses": {
          "200": {
            "description": "App IDs for each native client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientAppsResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get app IDs for native clients",
        "tags": [
          "Version"
        ]
      }
    },
    "/organization/{organizationId}/invite": {
      "post": {
        "operationId": "OrganizationController_inviteUserToOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInviteBodyDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User invited to organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInviteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Invite user to organization",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/invitations": {
      "get": {
        "operationId": "OrganizationController_getOrganizationInvitations",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": true,
            "in": "query",
            "description": "Page number",
            "schema": {
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "required": true,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "minimum": 1,
              "maximum": 20,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization invitations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationInvitationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get organization invitations",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/invitation/{invitationId}": {
      "delete": {
        "operationId": "OrganizationController_cancelOrganizationInvitation",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "invitationId",
            "required": true,
            "in": "path",
            "description": "Invitation identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInviteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Cancel organization invitation",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/invite/accept": {
      "post": {
        "operationId": "OrganizationController_acceptInvitationToOrganization",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationAcceptInviteBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInviteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Accept invitation to organization",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organizations": {
      "get": {
        "operationId": "OrganizationController_getOrganizations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Organizations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationInformationsResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get organizations of user",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}": {
      "get": {
        "operationId": "OrganizationController_getOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInformationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get organization by ID",
        "tags": [
          "Organization"
        ]
      },
      "put": {
        "operationId": "OrganizationController_updateOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUpdateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Update organization",
        "tags": [
          "Organization"
        ]
      },
      "delete": {
        "operationId": "OrganizationController_deleteOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDeleteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Delete organization",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization": {
      "post": {
        "operationId": "OrganizationController_createOrganization",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateBodyDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCreateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Create organization",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/members": {
      "get": {
        "operationId": "OrganizationController_getOrganizationMembers",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": true,
            "in": "query",
            "description": "Page number",
            "schema": {
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "required": true,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "minimum": 1,
              "maximum": 20,
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization members retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsersResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get organization members",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/member/role": {
      "put": {
        "operationId": "OrganizationController_updateOrganizationMemberRole",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRoleBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUpdateRoleResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Update organization member role",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/member": {
      "delete": {
        "operationId": "OrganizationController_removeOrganizationMember",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationDeleteMemberBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member removed from organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDeleteMemberResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Remove member from organization",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/billing/profile": {
      "get": {
        "operationId": "OrganizationController_getBillingProfile",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing profile fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationBillingProfileResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get organization billing profile",
        "tags": [
          "Organization"
        ]
      },
      "put": {
        "operationId": "OrganizationController_updateBillingProfile",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationBillingProfileUpdateBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationBillingProfileResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Update organization billing profile",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organization/{organizationId}/projects": {
      "get": {
        "operationId": "ProjectController_getProjectsOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "minimum": 1,
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Page size",
            "schema": {
              "minimum": 1,
              "maximum": 10,
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search query",
            "schema": {
              "example": "my-project",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectsAllInformationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all projects of an organization with pagination",
        "tags": [
          "Project"
        ]
      }
    },
    "/team/{teamId}/projects": {
      "get": {
        "operationId": "ProjectController_getProjectsTeam",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "description": "Team ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number",
            "schema": {
              "minimum": 1,
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Page size",
            "schema": {
              "minimum": 1,
              "maximum": 10,
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search query",
            "schema": {
              "example": "my-project",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all projects of a team with pagination",
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{projectId}": {
      "get": {
        "operationId": "ProjectController_getProject",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInformationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get a project",
        "tags": [
          "Project"
        ]
      },
      "patch": {
        "operationId": "ProjectController_updateProject",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectUpdateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Update a project",
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "operationId": "ProjectController_deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeleteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Delete a project",
        "tags": [
          "Project"
        ]
      }
    },
    "/team/{teamId}/project": {
      "post": {
        "operationId": "ProjectController_createProject",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "description": "Team ID",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateBodyDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInformationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Create a project",
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{projectId}/autofix": {
      "post": {
        "description": "Initiates an AI-powered AutoFix workflow to automatically generate a fix for a vulnerability and create a Pull Request or Merge Request",
        "operationId": "AgentController_startAutofix",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartAutofixBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AutoFix workflow started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartAutofixResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Bad Request",
                    "statusCode": 400,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Start AutoFix workflow",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/autofix/batch": {
      "post": {
        "description": "Initiates an AI-powered AutoFix workflow to automatically generate fixes for multiple vulnerabilities and create a single Pull Request or Merge Request",
        "operationId": "AgentController_startBatchAutofix",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartBatchAutofixBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch AutoFix workflow completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartBatchAutofixResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Bad Request",
                    "statusCode": 400,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Start Batch AutoFix workflow",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/security-champion/conversation": {
      "post": {
        "description": "Creates a new Security Champion AI conversation for a specific vulnerability. Returns a conversation ID to use with the streaming endpoint",
        "operationId": "AgentController_createSecurityChampionConversation",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSecurityChampionBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "conversationId": {
                      "type": "string",
                      "example": "conv-abc123"
                    },
                    "status": {
                      "type": "string",
                      "example": "created"
                    },
                    "reason": {
                      "type": "string",
                      "example": null,
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Bad Request",
                    "statusCode": 400,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Create Security Champion conversation",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/security-champion/{conversationId}/stream": {
      "get": {
        "description": "Server-Sent Events (SSE) endpoint for streaming AI responses. Send a message and receive real-time token stream. Use heartbeat mode (no message) to maintain connection",
        "operationId": "AgentController_sendSecurityChampionMessageStream",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "required": true,
            "in": "path",
            "description": "Conversation unique identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vulnerabilityType",
            "required": false,
            "in": "query",
            "description": "Type of vulnerability",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vulnerabilityId",
            "required": false,
            "in": "query",
            "description": "Vulnerability ID for context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "description": "Message to send to the AI (optional - empty for heartbeat mode)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream opened successfully - returns text/event-stream"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Stream Security Champion messages",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/security-champion/conversations/list": {
      "post": {
        "description": "Retrieves Security Champion conversations for the authenticated user with optional filters and pagination",
        "operationId": "AgentController_listUserConversations",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "branch",
            "required": false,
            "in": "query",
            "description": "Filter by branch name",
            "schema": {
              "example": "main",
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search in conversation title",
            "schema": {
              "example": "SQL injection",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number (1-based)",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Number of items per page (default 20, max 100)",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Sort field: created_at, updated_at, title",
            "schema": {
              "enum": [
                "created_at",
                "updated_at",
                "title"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "description": "Sort order: asc or desc",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of conversations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "projectIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "totalMessages": {
                            "type": "number"
                          },
                          "branch": {
                            "type": "string"
                          },
                          "repository": {
                            "type": "string"
                          },
                          "vulnerabilityId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "number",
                      "description": "Total count of matching conversations"
                    },
                    "page": {
                      "type": "number",
                      "description": "Current page number"
                    },
                    "pageSize": {
                      "type": "number",
                      "description": "Items per page"
                    },
                    "totalPages": {
                      "type": "number",
                      "description": "Total number of pages"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "List user conversations",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/security-champion/{conversationId}/messages": {
      "post": {
        "description": "Retrieves paginated messages from a specific Security Champion conversation",
        "operationId": "AgentController_getConversationMessages",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "required": true,
            "in": "path",
            "description": "Conversation unique identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of messages to return",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "start",
            "required": false,
            "in": "query",
            "description": "Pagination start index",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation messages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant"
                            ]
                          },
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Resource not found",
                    "statusCode": 404,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get conversation messages",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/security-champion/{conversationId}/delete": {
      "post": {
        "description": "Permanently deletes a Security Champion conversation and all associated messages",
        "operationId": "AgentController_deleteConversation",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "required": true,
            "in": "path",
            "description": "Conversation unique identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Resource not found",
                    "statusCode": 404,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Delete conversation",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/project/{projectId}/security-champion/{conversationId}/stop": {
      "post": {
        "description": "Stops the ongoing AI response generation for a specific conversation",
        "operationId": "AgentController_stopConversationGeneration",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "Project unique identifier",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "required": true,
            "in": "path",
            "description": "Conversation unique identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Resource not found",
                    "statusCode": 404,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Stop conversation generation",
        "tags": [
          "AI Agent"
        ]
      }
    },
    "/organization/{organizationId}/team/{teamId}": {
      "get": {
        "operationId": "TeamController_getTeam",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInformationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get team by ID",
        "tags": [
          "Team"
        ]
      }
    },
    "/organization/{organizationId}/teams": {
      "get": {
        "operationId": "TeamController_getTeams",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All teams of an organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamInformationsResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all teams of an organization",
        "tags": [
          "Team"
        ]
      }
    },
    "/organization/{organizationId}/team": {
      "post": {
        "operationId": "TeamController_createTeam",
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamCreateBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamCreateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Create a new team",
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{teamId}": {
      "put": {
        "operationId": "TeamController_updateTeam",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamUpdateBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamUpdateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Update a team",
        "tags": [
          "Team"
        ]
      },
      "delete": {
        "operationId": "TeamController_deleteTeam",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamDeleteResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Delete a team",
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{teamId}/member": {
      "post": {
        "operationId": "TeamController_TeamAddMember",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamAddMemberBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added to team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAddUserResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Add a member to a team",
        "tags": [
          "Team"
        ]
      },
      "delete": {
        "operationId": "TeamController_deleteTeamMember",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRemoveUserBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member removed from team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamRemoveUserResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Remove a member from a team",
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{teamId}/member/role": {
      "put": {
        "operationId": "TeamController_updateTeamMemberRole",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRoleBodyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTeamRoleResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Update a member role in a team",
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{teamId}/members": {
      "get": {
        "operationId": "TeamController_getTeamMembers",
        "parameters": [
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": true,
            "in": "query",
            "description": "Page number",
            "schema": {
              "$ref": "#/components/schemas/TeamGetMembersBodyDto"
            }
          },
          {
            "name": "pageSize",
            "required": true,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "minimum": 1,
              "maximum": 20,
              "type": "number"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All members of a team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsersResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all members of a team",
        "tags": [
          "Team"
        ]
      }
    },
    "/team/{teamId}/member/{userId}": {
      "get": {
        "operationId": "TeamController_getTeamMember",
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member of a team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInformationsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get a member of a team",
        "tags": [
          "Team"
        ]
      }
    },
    "/project/{projectId}/scan/{scanId}": {
      "get": {
        "description": "Retrieves detailed information about a specific scan including status, progress, and configuration.",
        "operationId": "ScanController_getScan",
        "parameters": [
          {
            "name": "projectId",
            "required": true,
            "in": "path",
            "description": "The unique identifier of the project",
            "schema": {
              "format": "uuid",
              "example": "550e8400-e29b-41d4-a716-446655440000",
              "type": "string"
            }
          },
          {
            "name": "scanId",
            "required": true,
            "in": "path",
            "description": "The unique identifier of the scan",
            "schema": {
              "format": "uuid",
              "example": "550e8400-e29b-41d4-a716-446655440001",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scan details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Unauthorized",
                    "statusCode": 401,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "Forbidden",
                    "statusCode": 403,
                    "timestamp": "2025-02-18T12:31:18.491Z",
                    "path": "/example/path"
                  }
                }
              }
            }
          }
        },
        "summary": "Get a scan by ID",
        "tags": [
          "Scan"
        ]
      }
    },
    "/project/{projectId}/scan/start": {
      "post": {
[...]
